<div class="dice-pool">
  <div>
    <button class = "button-styling action-button" (click)="rollDice()" [disabled]="areDiceRolling">Roll Dice</button>
    <button class = "button-styling action-button" (click)="deleteAllDice()">Delete Dice</button>
  </div>

  <div class='roll'>
    <div *ngIf="diceCollection.length > 0; else noDiceBlock">
      <div *ngFor="let dice of diceCollection" class="die-roll">
        <div [ngClass]="dice.diceDisplay"></div>
        <button class="die-delete" (click)="deleteDie(dice)">x</button>
      </div>
    </div>
    <ng-template #noDiceBlock>{{noDiceText}}</ng-template>

  </div>
  <div>
    <div class="add-dice-text">Add Dice</div>
    <div class="add-dice">

      <div class="df-d4-4 d4 die-add" (click)="addDie(4)"></div>
      <div class="df-d6-6 d6 die-add" (click)="addDie(6)"></div>
      <div class="df-d8-8 d8 die-add" (click)="addDie(8)"></div>
      <div class="df-d10-10 d10 die-add" (click)="addDie(10)"></div>
      <div class="df-d12-12 d12 die-add" (click)="addDie(12)"></div>
      <div class="df-d20-20 d20 die-add" (click)="addDie(20)"></div>
    </div>
  </div>
</div>
