.roll {
  font-size: xx-large;
}

.die-add {
  width: 2%;
  margin: 0;
  display: inline-block;
  cursor: pointer;
}

.die-roll {
  width: 2%;
  padding: 1%;
  display: inline-block;
}

.die-delete {
  background: indianred;
}

.dice-pool {
  text-align: center;
}

.add-dice {
  padding: 1%
}
