<div>
    <button (click)="rollDice()" [disabled] = "areDiceRolling">Roll Dice</button>
    <button (click)="deleteAllDice()">Delete Dice</button>
</div>

<div class = 'roll'>
    <div *ngFor="let dice of diceCollection">
        {{dice.currentRoll}} {{dice.faceType}} {{dice.diceDisplay}}
        <button (click)="deleteDie(dice)">delete</button>
    </div>
</div>
<div>
    <div>
        <div class="df-d4-4 die" (click)="addDie(4)"></div>
        <div class="df-d6-6 die" (click)="addDie(6)"></div>
        <div class="df-d8-8 die" (click)="addDie(8)"></div>
        <div class="df-d10-10 die" (click)="addDie(10)"></div>
        <div class="df-d12-12 die" (click)="addDie(12)"></div>
        <div class="df-d20-20 die" (click)="addDie(20)"></div>
    </div>
</div>