<div>
    <div>
        <button (click)="rollDice()" [disabled] = "amIRollingBro">Roll Dice</button>
        <button (click)="deleteAllDice()">Delete Dice</button>
    </div>
    
    <div class = 'roll'>
        <div *ngFor="let dice of diceCollection">
            {{dice.currentRoll}} {{dice.faceType}} 
            <button (click)="deleteDie(dice)">delete</button>
        </div>
    </div>
    <div>
        <div>
            <button (click)="addDie(4)">4</button>
            <button (click)="addDie(6)">6</button>
            <button (click)="addDie(8)">8</button>
            <button (click)="addDie(10)">10</button>
            <button (click)="addDie(12)">12</button>
            <button (click)="addDie(20)">20</button>
        </div>
    </div>
    
    <roll-history [diceCollection]= "diceCollection"></roll-history>
</div>