/* You can add global styles to this file, and also import other style files */
@import url(assets/fonts/dicefont/dicefont.css);

.d4 {
  color: green;
}

.d6 {
  color: crimson;
}

.d8 {
  color: blue;
}

.d10 {
  color: chocolate;
}

.d12 {
  color: fuchsia;
}

.d20 {
  color: darkmagenta;
}

.button-styling {
  border-radius: 12px;
  box-shadow: 0 5px 12px 0 rgba(0,0,0,0.24), 0 1px 5px 0 rgba(0,0,0,0.19);
  transition-duration: 0.2s;
  outline: none;
  padding: 5px;
}
.button-styling:hover {
  background-color: darkgray; /* Green */
  color: white;
}

.button-styling:active {
  background-color: rgba(0,0,0,1);
  box-shadow: rgba(0,0,0,1);
  transform: translateY(4px);
}
