/* You can add global styles to this file, and also import other style files */
@import url(assets/fonts/dicefont/dicefont.css);

/* bilbo-swash-caps-regular - latin */
@font-face {
  font-family: 'Bilbo Swash Caps';
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/bilbo_swash_fonts/bilbo-swash-caps-v13-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Bilbo Swash Caps Regular'), local('BilboSwashCaps-Regular'),
  url('assets/fonts/bilbo_swash_fonts/bilbo-swash-caps-v13-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('assets/fonts/bilbo_swash_fonts/bilbo-swash-caps-v13-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('assets/fonts/bilbo_swash_fonts/bilbo-swash-caps-v13-latin-regular.woff') format('woff'), /* Modern Browsers */
  url('assets/fonts/bilbo_swash_fonts/bilbo-swash-caps-v13-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('assets/fonts/bilbo_swash_fonts/bilbo-swash-caps-v13-latin-regular.svg#BilboSwashCaps') format('svg'); /* Legacy iOS */
}

.d4 {
  color: green;
}

.d6 {
  color: crimson;
}

.d8 {
  color: blue;
}

.d10 {
  color: chocolate;
}

.d12 {
  color: fuchsia;
}

.d20 {
  color: darkmagenta;
}

.button-styling {
  font-family: "BilboSwasCaps-Regular", serif;
  border-radius: 12px;
  box-shadow: 0 5px 12px 0 rgba(0,0,0,0.24), 0 1px 5px 0 rgba(0,0,0,0.19);
  transition-duration: 0.2s;
  outline: none;
  padding: 5px;
}
.button-styling:hover {
  background-color: darkgray; /* Green */
  color: white;
}

.button-styling:active {
  background-color: rgba(0,0,0,1);
  box-shadow: rgba(0,0,0,1);
  transform: translateY(4px);
}
